<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <!-- <nav class="navbar">
    <a href="/">Home</a>
    <a href="/how_this_works">About</a>
    <a href="/form">Greet</a>
    <a href="/form2">Greet again</a>
  </nav> -->

  <section class="msg">
  {% for category, msg in get_flashed_messages(with_categories=true)%}
  <p class="{{category}}">{{ msg }}</p>
{% endfor %}
</section>

  {% block content %}BODY CONTENT GOES HERE{% endblock %}
  
</body>
</html>